[submodule "asi-http-request"]
	path = asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "PopoverView"]
	path = PopoverView
	url = git://github.com/runway20/PopoverView.git
